$landingsPageImage: url("/landingspage.jpg");
$unionBlue: #00FFFF;
$borderRadius: 33px;
$borderRadiusInput: 8px;
$buttonBorder: 3px solid;
$inputTextFieldSelectedBorderColor: #4C4C4D;
$inputTextFieldBorderColor: #2E2E2E;
$cardBackgroundColor: #2C2C2C;
$errorColor: #FF00FF;
$buttonHoverColor: #2C2C2C;
$inputTextfielColor: #6C6D6E;
$lightGreyColor: #C8C8C8;
$darkGreyColor: #424242;
$darkerGreyColor: #1a1a1b;
$blackColor: #161617;
$paddingSmall: 10px;
$paddingMedium: 20px;
$paddingLarge: 30px;
$paddingHuge: 40px;
$buttonwidth: 120px;
$unionlogo: 76px;
$unionheaderheight: 267px;
