$landingsPageImage: url("/landingspage.jpg");
$unionBlue: #00FFFF;
$borderRadius: 20px;
$borderRadiusInput: 8px;
$buttonBorder: 2px solid;
$inputTextfielColor: #6C6D6E;
$buttonHoverColor: #2C2C2C;
$lightGreyColor: #C8C8C8;
$darkGreyColor: #424242;
$paddingSmall: 10px;
$paddingMedium: 20px;
$paddingLarge: 30px;
$paddingHuge: 40px;
$buttonwidth: 120px;
